@model Padaria.View.Models.VendaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/Home/_Home.cshtml";
}


<fieldset>
    <b>Digite o codigo de barra da comanda</b>
  
  
    @Html.TextBoxFor(c => c.Comanda.Codigo)
    <a href="#" onclick="ProdurarItensNaComanda();" class="btn btn-default" id="btnBuscasItens">Somar Comanda</a>
</fieldset>
<br />
<br />

<div id="txt1">

</div>
@Html.Partial("Modal", "Venda")

@*<script type="text/javascript">
    debugger
    $('#btnFechar').click(function () {
        debugger
        $('#deleteModal').modal('hide');
    });

</script>*@