@model Padaria.View.Models.VendaViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/Home/_Home.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Produto", "Venda"))
{
    <b>Comanda</b>
    @Html.HiddenFor(c => c.Comanda.ComandaID)

    @Html.TextBoxFor(c => c.Comanda.Codigo)
    <b>Produto</b>
    @Html.TextBoxFor(c => c.Produto.Codigo)
    <input type="submit" value="Selecionar Comanda" />
}

@Html.DropDownList("TipoPagamento", Model.TipoPagamento)
