<div class="column margintop20">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
        <li>
            <a href="#"><b>Venda</b></a>
            @Html.ActionLink("Venda", "Index", "Venda", null, new { @class = "btn btn-success" })
            @*@Html.ActionLink("Cadastrar", "Cadastrar", "Categoria", null, new { @class = "btn btn-success" })*@
        </li>
      
    </ul>
</div>